/*CoLearners*/
.colearnersHead{
	text-align: center;
	margin: auto;
	padding-bottom:70px;
	text-transform: uppercase;
	color: $darker-grey;
}

.peopleBG {
	background-color: #EBEBEB;
}

.colearners {
	max-width: 920px;
	margin: auto;
	overflow: hidden;
	padding-top:90px;
	color: $darker-grey;
	font-size: 1.2em;
	font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 500;
}
.people {
	float: left;
	padding: 20px 15px;
	text-align: center;
}

.people p {
	padding-top:20px;
}
.circle{
	border-radius: 100%;
	width: 200px;
}

.twitterCo {
	width: 20px;
	height: 20px;
	background-image: url(../../imgs/slice.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 2px 2px;
}

.facebookCo {
	width: 20px;
	height: 20px;
	background-image: url(../../imgs/slice.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: -33px 2px;
}

.dribbleCo {
	width: 20px;
	height: 20px;
	background-image: url(../../imgs/slice.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: -68px 2px;
}
.linkedinCo {
	width: 20px;
	height: 20px;
	background-image: url(../../imgs/slice.png);
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: -104px 2px;
}
.coLe {
	display: inline-block;
}


@media (max-width:940px) {
	.colearners {
		width: 85%;
		
	}
}
