@media (max-width:900px) {
.content {
  width: 50%;
  clear:none;
}

.courseGoals li:nth-child(2n+1){
  clear:both;
}

.courseGoals li:nth-child(3n+1){
  clear:none;
}

.courseGoals {
  max-width: 85%;
}
}
