@charset "UTF-8";
/* CSS Document

/*This changes the way that width works rather than width:400px + padding, margin, etc is 400+ it makes the box 400 total*/
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
