@charset "UTF-8";
/* CSS Document 

/*This changes the way that width works rather than width:400px + padding, margin, etc is 400+ it makes the box 400 total*/ 
*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	padding: 0px;
	list-style-type: none;	
}

/*Orange Hero Image*/
.heroImg {
	background-image: url(imgs/hero.jpg);
	height: 550px;
}

header{
	max-width: 85%;
	height: 110px;
	margin: auto;
	padding-top: 15px;
	display: block;

}
/*Navigation*/
.logo {
	width: 200px;
	height: 110px;
	background-image: url(http://jeremyabrahams.github.io/mw-project-1/img/factory-logo.png);
	display: block;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	background-repeat: no-repeat;
	float: left;

}

.navi {
	float: right;
	margin-top: 30px;
}

.nnav {
	list-style-type: none;
	display: inline-block;
	font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 1.125em;
	text-transform: uppercase;
	color: white;
	padding: 20px;
}

/*Start nav style*/
.navi ul li a {
	text-decoration: none;
	color: white;
}

.navi ul li a:hover {
	border-bottom: solid 3px white;
}

.nvai ul li a:visited {
	color:white;
}
/*End nav style*/

.topSection {
	margin: auto;
	margin-top: 110px;
}

.title {
	font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 5em;
	color: white;
	margin: auto;
	text-align: center;
	
}

/*Wasn't Working with the .sDate class I made */
.topSection p {
	font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 100;
	font-size: 1.5em;
	color: white;
	margin: auto;
	text-align: center;
}


/*Description*/
.description {
	margin: auto;
	font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 2em;
	max-width: 70%;;
	line-height: 60px;
	text-align: center;
	color: #d9d9d9;
	padding-top: 100px;
	padding-bottom: 100px;
}

/*Graphic*/
.description::after {
  content: url('imgs/index.png'); /*Place holder graphic as something happened to jeremy*/
  width: 100%;
  height: 20px;
	display: block;
}


/*Course Goals*/
.courseGoals {
	max-width: 1000px;
	margin: auto;
	height: 400px;
	clear: both;
	font-family: 'Roboto', Futura, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.courseGoals-header {
	text-transform: uppercase;
	text-align: center;
	font-size: 1.6em;
}
.content {
	width: 33.333%;
	float: left;
	padding: 15px;
	line-height: 1.4em;
}

.courseGoals li:nth-child(3n+1) {
	clear: both;
	color: red;
}

.courseGoals h2,
.courseGoals p {
	font-size: 1em;
}



/*CoLearners*/
.colearnersHead{
	text-align: center;
	margin: auto;
}

.peopleBG {
	background-color: #EBEBEB;
}

.colearners {
	max-width: 920px;
	margin: auto;
	overflow: hidden;
}
.people {
	float: left;
	padding: 20px 15px;
	text-align: center;
}
.circle{
	border-radius: 100%;
	width: 200px;
}

.cc {
	margin: auto;
}