@charset "UTF-8";

//variables//
$grey: #8d8d8d;
$orange: #E66244;
$light-grey: #AAAAAA;

//partials//
@import "partials/general";
@import "partials/normalize";


//Fixing floated image background//
@mixin clearfix() {
	&::after {
		content: "";
		display: table;
		clear: both;
	}
}

//removes formatting from ul lists//
@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style-type:none;
}

//Vertical Alighment//
@mixin vertical-align($val: 47%) {

	// unset
	@if $val == 'none' {
	    top: auto;
      -webkit-transform: none;
         -moz-transform: none;
          -ms-transform: none;
              transform: none;

   	} @else {
        position: relative;
        top: $val;
        -webkit-transform: translateY(-50%);
           -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
   	}
}
