@charset "UTF-8";

//variables//
$grey: #8d8d8d;
$orange: #E66244;
$light-grey: #C3BFBF;
$dark-grey: #777777;
$darker-grey: #444444;

//partials//
@import "partials/mixins";
@import "partials/general";
@import "partials/normalize";
@import "partials/colearners";
@import "partials/goals";
@import "partials/header";
@import "partials/instructor";
@import "partials/footer";
@import "partials/responsive";
